<div class="navbar" navbar-default>
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> HOME </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href=""> INFO KOST </a>
        </li>
        <li>
          <a href=""> INFO KONTRAKAN </a>
        </li>
      </ul>
      <ul class="nav-navbar-nav navbar-right">
          <a href="#" class="dropdown-toggle" role="button"> Penyedia </a>
      </ul>
    </div>
  </div>
</div>